/*
// === Reset ===
*/

html,
body {
	@include font-smoothing;
	@include body-font-size;
	font-family: $font-family-maison;
	font-weight: 400;
	background-color: color(white);
	color: color(black);
}

//
// === Selection ===
//

* {
	@include selection {
		background-color: color(black);
		color: color(white);
	}
}